<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bas.card">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".util.MainApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Basko"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.WebActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.ThankYouActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.DetailActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.CardActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.UnLockAppActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.LonchAppActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.StartActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="applovin.sdk.key"
            android:value="DMxKyOIzmPbg49tDaSz9iUQFtQm339W8efINQlgzdU9LfFvW8hATPhPCWVTssfGOdgrq3scWcM6OQT9RtxJbIO" />
    </application>

</manifest>